<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.junior.Dao.LogDao">
    <insert id="logUserBehaviour" parameterType="com.example.junior.Entity.LogEntity">
        INSERT INTO `log` (`time`,ip,behaviour) VALUES(#{time},#{ip},#{behaviour})
    </insert>
</mapper>